

/** Styles **/


* {
    background-color:orchid;
}

img {
    max-width:500px;
    min-width: 200px;
}

h1 {
    font-family:'Courier New', Courier, monospace;
    color:white;
    font-size: 40px;
}

h2 {
    font-family:'Courier New', Courier, monospace;
    color: darkblue;
    font-size: 28px;
}

p{
    font-family:'Courier New', Courier, monospace;
}